<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meadowlark Travel</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	{{#if showTests}}
		<link rel="stylesheet" href="/vendor/mocha.css">
	{{/if}}
</head>
<body>
	<header><img src="/images/logo.jpg" alt="Meadowlark Travel Logo" width="200px;"></header>
	{{{body}}}
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	{{{_sections.jquery}}}
</body>
</html>