<h1>Contact us</h1>
<form method="post" action="/process-contact">
  Name:
  <input id="name" type="text" id="fieldName" name="name">
  <br> 
  Email:
  <input id="email" type="email" name="email">
  <br>
  <input type="submit" value="Submit">
  <input id="submit" type="button" value="Submit with xhr">
</form>
<script>
$(document).ready(function() {
	$('#submit').on('click', function() {
			$.ajax({
				url: '/process-contact',
				type: 'post',
				data: JSON.stringify({
					name: $('#name').val(),
					email: $('#email').val()
				}),
				contentType: 'application/json',
				success: function(data) {
					console.log(data)
				},
				error: function(data) {
					console.log(data)
				} 
			})
	})
});
</script>
